.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.info-column, .options-column, .total-column {
    padding: 10px;
}

.info-column {
    background-color: #f2f2f2;
    text-align: center;
}

.subscription-options h2, .total-price h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.option {
    margin-bottom: 10px;
}

.height_hosting{
    min-height: 1000px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
